In [2]:
import statsmodels.api as sm
import pandas
from patsy import dmatrices

In [3]:
df = sm.datasets.get_rdataset("Guerry", "HistData").data

In [4]:
df.head()

,dept,Region,Department,Crime_pers,Crime_prop,Literacy,Donations,Infants,Suicides,MainCity,...,Crime_parents,Infanticide,Donation_clergy,Lottery,Desertion,Instruction,Prostitutes,Distance,Area,Pop1831
0,1,E,Ain,28870,15890,37,5098,33120,35039,2:Med,...,71,60,69,41,55,46,13,218.372,5762,346.03
1,2,N,Aisne,26226,5521,51,8901,14572,12831,2:Med,...,4,82,36,38,82,24,327,65.945,7369,513.00
2,3,C,Allier,26747,7925,13,10973,17044,114121,2:Med,...,46,42,76,66,16,85,34,161.927,7340,298.26
3,4,E,Basses-Alpes,12935,7289,46,2733,23018,14238,1:Sm,...,70,12,37,80,32,29,2,351.399,6925,155.90
4,5,E,Hautes-Alpes,17488,8174,69,6962,23076,16171,1:Sm,...,22,23,64,79,35,7,1,320.280,5549,129.10

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dept             86 non-null     int64
 1   Region           85 non-null     object
 2   Department       86 non-null     object
 3   Crime_pers       86 non-null     int64
 4   Crime_prop       86 non-null     int64
 5   Literacy         86 non-null     int64
 6   Donations        86 non-null     int64
 7   Infants          86 non-null     int64
 8   Suicides         86 non-null     int64
 9   MainCity         86 non-null     object
 10  Wealth           86 non-null     int64
 11  Commerce         86 non-null     int64
 12  Clergy           86 non-null     int64
 13  Crime_parents    86 non-null     int64
 14  Infanticide      86 non-null     int64
 15  Donation_clergy  86 non-null     int64
 16  Lottery          86 non-null     int64
 17  Desertion        86 non-null     int64
 18  Instruction      86 non-null     int64
 19  Prostitutes      86 non-null     int64
 20  Distance         86 non-null     float64
 21  Area             86 non-null     int64
 22  Pop1831          86 non-null     float64
dtypes: float64(2), int64(18), object(3)
memory usage: 15.6+ KB

In [6]:
df = df[['Department', 'Lottery', 'Literacy', 'Wealth', 'Region']].dropna()

In [7]:
df.head()

     Department  Lottery  Literacy  Wealth Region
0           Ain       41        37      73      E
1         Aisne       38        51      22      N
2        Allier       66        13      61      C
3  Basses-Alpes       80        46      76      E
4  Hautes-Alpes       79        69      83      E

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 0 to 84
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Department  85 non-null     object
 1   Lottery     85 non-null     int64
 2   Literacy    85 non-null     int64
 3   Wealth      85 non-null     int64
 4   Region      85 non-null     object
dtypes: int64(3), object(2)
memory usage: 4.0+ KB

In [9]:
y, X = dmatrices('Lottery ~ Literacy + Wealth + Region', data=df, return_type='dataframe')

In [10]:
mod = sm.OLS(y, X)

In [12]:
res = mod.fit()

In [15]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Lottery   R-squared:                       0.338
Model:                            OLS   Adj. R-squared:                  0.287
Method:                 Least Squares   F-statistic:                     6.636
Date:                Sun, 23 Apr 2023   Prob (F-statistic):           1.07e-05
Time:                        14:53:48   Log-Likelihood:                -375.30
No. Observations:                  85   AIC:                             764.6
Df Residuals:                      78   BIC:                             781.7
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      38.6517      9.456      4.087      0.000      19.826      57.478
Region[T.E]   -15.4278      9.727     -1.586      0.117     -34.793       3.938
Region[T.N]   -10.0170      9.260     -1.082      0.283     -28.453       8.419
Region[T.S]    -4.5483      7.279     -0.625      0.534     -19.039       9.943
Region[T.W]   -10.0913      7.196     -1.402      0.165     -24.418       4.235
Literacy       -0.1858      0.210     -0.886      0.378      -0.603       0.232
Wealth          0.4515      0.103      4.390      0.000       0.247       0.656
==============================================================================
Omnibus:                        3.049   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.218   Jarque-Bera (JB):                2.694
Skew:                          -0.340   Prob(JB):                        0.260
Kurtosis:                       2.454   Cond. No.                         371.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""