# Examples

## Import numpy as np and see the version

In [1]:
import numpy as np
np.__version__

'2.3.5'

## How to create a 1D array

Create a 1D array of numbers from 0 to 9

In [2]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## How to create a boolean array

Create a 3×3 numpy array of all True’s

In [3]:
np.full((3, 3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

## How to extract items that satisfy a given condition from 1D array

Extract all odd numbers from `array`

In [4]:
array = np.arange(10, 21)
array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [5]:
array[array % 2 != 0]

array([11, 13, 15, 17, 19])

## How to replace items that satisfy a condition with another value in numpy array

Replace all odd numbers in `array` with -1

In [6]:
array = np.arange(11)
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [7]:
array[array % 2 != 0] = -1
array

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10])

## How to replace items that satisfy a condition without affecting the original array

Replace all odd numbers in `array` with -1 without changing the original array

In [8]:
array = np.arange(11)
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [9]:
copy_array = array.copy()
copy_array[copy_array % 2 != 0] = -1

In [10]:
copy_array

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10])

In [11]:
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

or you can also use `where`

In [12]:
array = np.arange(11)
np.where(array % 2 != 0, -1, array)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1, 10])

In [13]:
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## How to reshape an array

In [14]:
np.arange(51).reshape(3, -1) # the -1 automatically decides how many columns left

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16],
       [17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32,
        33],
       [34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
        50]])

## How to generate automatic custom sequences

Create the following pattern without hardcoding. Use only numpy functions and the below input array a.

Desired input

```
a = np.array([1,2,3])
```

Desired output

```
array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [15]:
a = np.array([1,2,3])

We can use `repeat` and `tile` to generate the two patterns

In [16]:
p1 = np.repeat(a, 3)
p1

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [17]:
p2 = np.tile(a, 3)
p2

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

and then we can concatenate the results together with various methods

In [18]:
np.concatenate((p1, p2))

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [19]:
np.hstack((p1, p2))

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

## How to get the common items between two python numpy arrays

Get the common items between a and b

In [20]:
a = [1, 3, 7, 11, 22]
b = [22, 7, 13]

In [21]:
np.intersect1d(a, b)

array([ 7, 22])

## How to remove from one array those items that exist in another

From array `a` remove all items present in array `b`

In [22]:
a = np.array([1,2,3,4,5])
b = np.array([4, 5,6,7,8])

In [23]:
np.setdiff1d(a, b)

array([1, 2, 3])

In [24]:
np.setdiff1d(b, a)

array([6, 7, 8])

## How to get the indexes of matching elements

In [25]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [26]:
np.where(a == b)

(array([1, 3, 5, 7]),)

## How to extract all numbers between a given range from a numpy array

Get all items between 5 and 10 from a.

In [27]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

**Method 1**

In [28]:
a[np.where((a >= 5) & (a <= 10))]

array([ 6,  9, 10])

**Method 2**

In [29]:
a[np.where(np.logical_and(a >= 5, a <= 10))]

array([ 6,  9, 10])

**Method 3**

In [30]:
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

## How to make a python function that handles scalars to work on numpy arrays

Convert the following function that works on two scalars, to work on two arrays.

```python
def vector_max(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y
```

In [31]:
def vector_max(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

In [32]:
vector_max(1, 5)

5

In [33]:
np.vectorize(vector_max)([1, 0, -1], [3, 5, -3])

array([ 3,  5, -1])

## How to compute the mean, median, standard deviation of a numpy array

Find the mean, median, variance and standard deviation of the following array.

In [34]:
a = np.random.randint(low=1, high=1000, size=50)
a

array([ 54, 689, 513, 505, 299, 980, 604, 274, 477, 695, 359, 593, 917,
       301, 254, 489, 967, 674, 441, 639, 727, 838, 667, 280,  76, 861,
       930,   9, 906, 808, 245, 739, 121, 840, 625, 486, 584, 765, 199,
       606, 144, 373, 111, 564, 796, 437,  53, 786, 934, 953])

In [35]:
np.median(a)

np.float64(588.5)

In [36]:
np.mean(a)

np.float64(543.74)

In [37]:
a.mean()

np.float64(543.74)

In [38]:
np.std(a)

np.float64(281.54735374355766)

In [39]:
a.std()

np.float64(281.54735374355766)

In [40]:
np.var(a)

np.float64(79268.9124)

In [41]:
a.var()

np.float64(79268.9124)

## How to find the percentile scores of a numpy array

Find the 5th and 95th percentile of the following distribution

In [42]:
a = np.random.randint(low=0, high=10000, size=1000)

In [43]:
np.percentile(a, q=[5, 95])

array([ 402.65, 9378.8 ])